{% extends 'base.html.twig' %}

{% block title %}Mars-api{% endblock %}

{% block body %}


        {% if renderFlag %}
            <div class="offset-lg-1 col-lg-2" id="data1">
                <div class="chart" style="background-color: transparent;">
                    <h1>Pomiar:{{ table[id].id }}</h1>
                </div>
                <div class="chart " id="data4">
                    <h5>Data: {{ table[id].date }}</h5>
                    <h5>Ciśnienie: {{ table[id].pavg }}Pa</h5>
                    <h5>Wiatr: {{ table[id].wind }}m/s</h5>
                </div>
            </div>
            <div class=" col-lg-2 " id="data2">
                <div class="chart" >
                    <h5>Temperatura</h5>
                    <h5>Max: {{ table[id].tmax }}°C</h5>
                    <h5>Avg: {{ table[id].tavg }}°C</h5>
                    <h5>Min: {{ table[id].tmin }}°C</h5>
                </div>
            </div>
            <div class="col-lg-2" id="data3">
                <div id="wd_plot" ><!-- Plotly chart will be drawn inside this DIV --></div>
            </div>
        {% endif %}


    <script>
        var windowWidth = window.innerWidth;
        var compasWidth = 0;
        if(windowWidth < 992)
        {
            compasWidth = windowWidth - windowWidth/5;
        }
        else
        {
            compasWidth = 400;
        }

        const nasa_api_key = 'zpj8nG5YUcakf6K1RihjAd75zX8QJmgceeqx2B4f';   // Replace with personal NASA API key
        const cpoints = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'];
        if (nasa_api_key==='DEMO_KEY') {
            $('#nasa_api_key').html('Replace the NASA API DEMO_KEY with your own NASA API key obtained from <a href="https://api.nasa.gov/index.html#apply-for-an-api-key">here</a>.<hr>')
        }
        var one_sol = false;
        //////////////////////////////////////////////////////////////////////
        // Retrieve Mars weather data from NASA API as JSON stream
        // - Write data for each Sol
        // - Write JSON stream
        //////////////////////////////////////////////////////////////////////
        $.get(
            `https://api.nasa.gov/insight_weather/?feedtype=json&ver=1.0&api_key=${nasa_api_key}`,
            data => {
                data.sol_keys.forEach(sol => write_sol_data(sol, data[sol]));
                $("#summary").append('<hr>');
            }
        ).always(
            function(data) {
                // Write JSON stream to #json PRE
                $("#json").text(JSON.stringify(data, null, 2));
                if (one_sol) {

                    plot_sol_data({{ table[id].id }}, data[{{ table[id].id }}]);
                }
            }
        );
        //////////////////////////////////////////////////////////////////////
        // Function to write data for one Sol
        //////////////////////////////////////////////////////////////////////
        function write_sol_data(sol, sol_obj) {
            // Summarize per-Sol temperature data to #summary DIV
            $('#summary').append( `On Sol <b>${sol}</b> the temperatures ranged from <b>${Math.round(sol_obj.AT.mn)}&deg;C</b> to <b>${Math.round(sol_obj.AT.mx)}&deg;C</b> with an atmospheric pressure of <b>${Math.round(sol_obj.PRE.mn)} Pa</b> to <b>${Math.round(sol_obj.PRE.mx)} Pa</b>.<br>`);
            one_sol = sol;
            // Add per-Sol button to #buttons DIV
            /*            $('#buttons').append(
                            $('<button>')
                                .attr('id', sol)
                                .on('click', e => plot_sol_data(sol, sol_obj))
                                .text(sol)
                        );*/
        }
        //////////////////////////////////////////////////////////////////////
        // Plot Wind Direction (WD) data for one Sol to #wd_plot DIV
        //////////////////////////////////////////////////////////////////////
        function plot_sol_data(Sol, sol_obj) {
            var wd_obj = sol_obj.WD;   // Wind direction object for Sol
            // fill compass points with sol data
            var vals = (new Array(16)).fill(0).map((empty, idx) => wd_obj[idx] ? wd_obj[idx].ct : 0);
            var wd_data = [{               // Load WD data as one-element array
                r: vals,
                t: cpoints,
                name: `${Sol}`,
                marker: {color: '#DDD'},
                type: 'area'
            }];
            var wd_layout = {              // Load WD plot layout
                font: {
                    family: "Merriweather, serif",
                    size: 18,
                    color: '#222',
                    text_shadow: "none"
                },
                autosize: false,
                width: compasWidth,
                height: compasWidth,
                title: `Kierunek wiatru`,
                legend: {font: {size: 16}},
                radialaxis: {ticksuffix: ''},
                orientation: 270,
                paper_bgcolor: 'rgba(0,0,0,0)',
                plot_bgcolor: 'rgba(0,0,0,0)',
                outlineColor: 'transparent',
                text_decoration: 'none'

            };
            Plotly.newPlot('wd_plot', wd_data, wd_layout);     // Plot wind rose
            // Add most common wind direction
            $('#wd_most_common').html(`Most common wind direction is ${wd_obj.most_common ? wd_obj.most_common.compass_point : 'undefined'}<hr>`)
        }
    </script>
{% endblock %}